<nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4 pr-3" href="..">Cleveland Social Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        
        
        
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="..">Home</a>
          <a class="nav-item nav-link" href="/">Events Home</a>
          <a class="nav-item nav-link" href="{% url 'event_manager_home:explore' %}">Explore Events</a>
          {% if user.is_authenticated %}
          {% if user.is_staff %}
          <a class="nav-item nav-link" href="{% url 'event_manager_home:newevent' user.id %}">New Event</a>
          {% endif %}
          <a class="nav-item nav-link" href="{% url 'event_manager_home:events-root-home' %}">Events</a>
          {% endif %}
        </div>
        
      </div>
    </div>
</nav>
